.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}
.box
{
width:300px;
border:1px solid black;
border-radius:20px;
padding:20px;
margin:20px;
}
.header
{
display:flex;
justify-content:space-between;
padding:20px;
}
.add-button {
background-color: #28a745; /* Green color */
color: white;
border: none;
padding: 10px 15px;
border-radius: 5px;
font-size: 16px;
cursor: pointer;
transition: background-color 0.3s;
}